@charset "UTF-8";
@font-face {
  font-family: 'Roboto';
  src: url('shared/fonts/Roboto/Roboto-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto Condensed';
  src: url('shared/fonts/Roboto_Condensed/RobotoCondensed-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto Condensed Regular';
  src: url('shared/fonts/Roboto_Condensed/RobotoCondensed-Regular.ttf') format('truetype');
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #000;
  background-color: #fff;
}
a {
  color: #000;
  text-decoration: none;
}
*:hover,
*:hover:before,
*:hover:after,
*:hover * {
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}
a:hover {
  color: #bb001b;
}
img {
  vertical-align: top;
  max-width: 100%;
  height: auto;
}
.row {
  max-width: 1280px;
  padding: 0 30px;
  position: relative;
  overflow: hidden;
  margin: auto;
}
.header-logo {
  padding: 15px 0;
  text-align: center;
}
.header-top {
  border-bottom: 1px solid #e0001b;
  -moz-border-image: -moz-linear-gradient(right, #e0001b 0%, #4a0c26 100%);
  -webkit-border-image: -webkit-linear-gradient(right, #e0001b 0%, #4a0c26 100%);
  border-image: linear-gradient(to left, #e0001b 0%, #4a0c26 100%);
  border-image-slice: 1;
}
.header-social {
  position: absolute;
  top: 20px;
  left: 30px;
}
.header-social ul, .header-flag ul {
  overflow: hidden;
}
.header-social li {
  float: left;
  margin-right: 12px;
}
.header-flag li {
  float: left;
  margin-left: 15px;
}
.header-social a {
  background: no-repeat center;
  background-size: auto 20px;
  display: block;
  width: 24px;
  height: 24px;
  font-size: 0;
  opacity: .5;
}
.header-flag a {
  font-size: 14px;
  line-height: 20px;
  padding-left: 24px;
  background: no-repeat 0 -2px;
  background-size: auto 20px;
  opacity: .7;
}
.header-social a:hover, .header-flag a:hover {
  opacity: 1;
}
.header-social .fb {
  background-image: url(shared/images/img_fb.png);
  margin-right: -4px;
}
.header-social .in {
  background-image: url(shared/images/img_in.png);
}
.header-social .tw {
  background-image: url(shared/images/img_tw.png);
}
.header-social .ma {
  background-image: url(shared/images/img_ma.png);
}
.header-flag .vn {
  background-image: url(shared/images/img_vie.png);
}
.header-flag .en {
  background-image: url(shared/images/img_eng.png);
}
.header-flag {
  position: absolute;
  top: 20px;
  right: 30px;
}
.header-search {
  position: absolute;
  bottom: 20px;
  right: 30px;
}
.header-search .search-field {
  font-size: 14px;
  color: #918d8d;
  line-height: 30px;
  padding: 0 12px;
  width: 180px;
  border: none;
  border-bottom: 1px solid #000;
  outline: none;
  font-style: italic;
}
.header-search .search-submit {
  width: 26px;
  height: 27px;
  font-size: 0;
  background: url(shared/images/img_search.png);
  border: none;
  cursor: pointer;
  outline: none;
}
.header-search .search-submit:hover {
  background-position: right top;
  -webkit-transition: none;
  transition: none;
}
.header-search label {
  float: left;
  margin-right: 5px;
}
.main-navigation {
  font-family: 'Roboto Condensed Regular', sans-serif;
  font-weight: bold;
  letter-spacing: .5px;
  text-align: center;
}
.main-navigation .primary-menu {
  padding: 10px 0;
  line-height: 40px;
}
.main-navigation .primary-menu>li {
  display: inline-block;
  vertical-align: top;
  position: relative;
}
.main-navigation .primary-menu>li>a {
  color: #2b2626;
  padding: 0 18px;
  display: block;
}
.main-navigation .primary-menu a:hover {
  color: #bb001b;
}
@media (min-width: 769px) {
  .main-navigation .sub-menu {
    border-bottom: 1px solid #d1d1d1;
    display: block;
    left: auto;
    margin: 0;
    position: absolute;
    z-index: 99999;
    top: 48px;
    white-space: nowrap;
    text-align: left;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: normal;
    box-shadow: 0px 1px 15px -3px rgba(0, 0, 0, 0.2);
    opacity: 0;
    visibility: hidden;
    font-size: 17px;
  }
  .main-navigation .sub-menu.active {
    opacity: 1;
    visibility: visible;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
  }
  .main-navigation .sub-menu>li {
    background-color: #fff;
    border: 1px solid #d1d1d1;
    border-bottom-width: 0;
  }
  .main-navigation .sub-menu>li>a {
    color: #1a1a1a;
    display: block;
    outline-offset: -1px;
    padding: 0 20px;
    font-weight: bold;
    line-height: 40px;
  }
  .main-navigation .sub-menu:before, .main-navigation .sub-menu:after {
    border-style: solid;
    content: "";
    position: absolute;
  }
  .main-navigation .sub-menu:before {
    border-color: #d1d1d1 transparent;
    border-width: 0 10px 10px;
    left: 23px;
    top: -9px;
  }
  .main-navigation .sub-menu:after {
    border-color: #fff transparent;
    border-width: 0 8px 8px;
    left: 25px;
    top: -7px;
  }
}
.slider {
  overflow: hidden;
}
.slick-dots {
  text-align: center;
  margin-top: -30px;
  position: relative;
}
.slick-dots li {
  display: inline-block;
  vertical-align: top;
  width: 20px;
  height: 20px;
  margin: 0 3px;
}
.slick-dots button {
  font-size: 0;
  background: #E7E7E9;
  width: 12px;
  height: 12px;
  border: none;
  outline: none;
  display: inline-block;
  vertical-align: top;
  border-radius: 50%;
  cursor: pointer;
}
.slick-dots .slick-active button,
.slick-dots button:hover {
  background: #B71522;
}
[class*="sec0"] {
  padding: 40px 0;
}
[class*="col0"] {
  overflow: hidden;
  position: relative;
}
[class*="col0"] > * {
  float: left;
  width: 50%;
}
.col03 {
  margin: 0 -3px;
}
.col03 > * {
  padding: 0 3px;
  width: 33.33%;
}
.col02 {
  margin: 0 -15px;
}
.col02 > * {
  width: 50%;
  padding: 0 15px;
}
.col02.tp01 {
  margin: 0 -30px;
}
.col02.tp01 > * {
  width: 50%;
  padding: 0 30px;
}
.box-catalog {
  background: #d6d6d3;
  padding: 30px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}
.box-catalog:hover {
  background: #f9f9f6;
}
.box-catalog ul {
  max-width: 70%;
  margin: auto;
  font-family: 'Roboto Condensed', sans-serif;
  letter-spacing: .5px;
  line-height: 28px;
  font-size: 19px;
  margin-top: 10px;
}
.box-catalog a {
  color: #960017;
  padding-left: 25px;
  background: url(shared/images/icon_list01.png) no-repeat left center;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}
.box-catalog a:hover {
  margin-left: 6px;
}
.sec02 {
  background: url(shared/images/img_sec02_01.jpg);
}
.box-videos {
  color: #fff;
  max-width: 550px;
  margin: 45px auto;
  padding: 60px 30px;
  position: relative;
  text-align: center;
  line-height: 26px;
  background: -moz-linear-gradient(left, rgba(45,5,6,0.9) 0%, rgba(223,0,27,0.9) 100%);
  background: -webkit-linear-gradient(left, rgba(45,5,6,0.9) 0%,rgba(223,0,27,0.9) 100%);
  background: linear-gradient(to right, rgba(45,5,6,0.9) 0%,rgba(223,0,27,0.9) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e62d0506', endColorstr='#e6df001b',GradientType=1 );
}
.box-videos .ttl {
  font-size: 42px;
  line-height: 54px;
  font-family: 'Roboto Condensed', sans-serif;
  margin-bottom: 12px;
}
.box-videos .btn {
  display: inline-block;
  vertical-align: top;
  margin-top: 20px;
  font-size: 16px;
  position: relative;
  overflow: hidden;
}
.box-videos .btn span {
  border: 1px solid #fff;
  padding: 3px 12px;
  color: #fff;
  display: block;
  position: relative;
  z-index: 2;
}
.box-videos .btn:hover span {
  color: #000;
}
.box-videos .btn:before {
  content: '';
  width: 100%;
  height: 100%;
  background: #fff;
  position: absolute;
  top: 0;
  left: -100%;
  z-index: 1;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}
.box-videos .btn:hover:before {
  left: 0;
}
.sec03 .ttl {
  font-size: 30px;
  line-height: 44px;
  font-family: 'Roboto Condensed', sans-serif;
  margin: 15px 0;
}
.sec03 .ttl a {
  color: #1a171b;
  padding-right: 27px;
  background: url(shared/images/icon_list01.png) no-repeat right 21px;
}
.sec03 .ttl a:hover {
  color: #bb001b;
}
.box-customer {
  overflow: hidden;
}
.box-customer .inr {
  background: #f3f3ee;
  padding: 15px 30px;
  font-size: 14px;
  line-height: 20px;
}
.box-customer .img {
  background: #fff;
  text-align: center;
  padding: 10px 0;
  overflow: hidden;
}
.box-customer img {
  max-height: 110px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}
.box-customer .img:hover img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.box-customer li {
  margin: 15px 0;
}
.box-customer p {
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  margin-top: 3px;
}
.box-customer .date {
  border-left: 6px solid #8b0727;
  color: #a20529;
  padding: 5px 8px 2px;
  margin-bottom: 5px;
}
.box-news ul li + li {
  margin-top: 10px;
}
.box-news ul a {
  display: block;
  position: relative;
  background: #ebebe2;
  padding: 15px;
  min-height: 126px;
}
.box-news .img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 182px;
  background: no-repeat center;
  background-size: auto 100%;
}
.box-news .inr {
  padding-left: 182px;
}