@charset "UTF-8";
@font-face {
  font-family: 'Roboto';
  src: url('/shared/fonts/Roboto/Roboto-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto Condensed';
  src: url('/shared/fonts/Roboto_Condensed/RobotoCondensed-Light.ttf') format('truetype');
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #000;
  background-color: #fff;
}
a {
  color: #000;
  text-decoration: none;
}
*:hover {
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}
a:hover {
  color: #bb001b;
}
img {
  vertical-align: top;
  max-width: 100%;
  height: auto;
}
.row {
  max-width: 1280px;
  padding: 0 30px;
  position: relative;
  overflow: hidden;
  margin: auto;
}
.header-logo {
  padding: 15px 0;
  text-align: center;
}
.header-top {
  border-bottom: 1px solid #e0001b;
  -moz-border-image: -moz-linear-gradient(right, #e0001b 0%, #4a0c26 100%);
  -webkit-border-image: -webkit-linear-gradient(right, #e0001b 0%, #4a0c26 100%);
  border-image: linear-gradient(to left, #e0001b 0%, #4a0c26 100%);
  border-image-slice: 1;
}
.header-social {
  position: absolute;
  top: 20px;
  left: 30px;
}
.header-social ul,
.header-flag ul {
  overflow: hidden;
}
.header-social li {
  float: left;
  margin-right: 12px;
}
.header-flag li {
  float: left;
  margin-left: 15px;
}
.header-social a {
  background: no-repeat center;
  background-size: auto 20px;
  display: block;
  width: 24px;
  height: 24px;
  font-size: 0;
  opacity: .5;
}
.header-flag a {
  font-size: 14px;
  line-height: 20px;
  padding-left: 24px;
  background: no-repeat 0 -2px;
  background-size: auto 20px;
  opacity: .7;
}
.header-social a:hover,
.header-flag a:hover {
  opacity: 1;
}
.header-social .fb {
  background-image: url(/shared/images/img_fb.png);
  margin-right: -4px;
}
.header-social .in {
  background-image: url(/shared/images/img_in.png);
}
.header-social .tw {
  background-image: url(/shared/images/img_tw.png);
}
.header-social .ma {
  background-image: url(/shared/images/img_ma.png);
}
.header-flag .vn {
  background-image: url(/shared/images/img_vie.png);
}
.header-flag .en {
  background-image: url(/shared/images/img_eng.png);
}
.header-flag {
  position: absolute;
  top: 20px;
  right: 30px;
}
.header-flag li {
  float: 
}
.header-search {
  position: absolute;
  bottom: 20px;
  right: 30px;
}