@charset "UTF-8";
@font-face {
  font-family: 'Roboto';
  src: url('shared/fonts/Roboto/Roboto-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto Condensed';
  src: url('shared/fonts/Roboto_Condensed/RobotoCondensed-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto Condensed Regular';
  src: url('shared/fonts/Roboto_Condensed/RobotoCondensed-Regular.ttf') format('truetype');
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #000;
  background-color: #fff;
}
a {
  color: #000;
  text-decoration: none;
}
*:hover, *:hover:before, *:hover:after {
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}
a:hover {
  color: #bb001b;
}
img {
  vertical-align: top;
  max-width: 100%;
  height: auto;
}
iframe {
  display: block;
  width: 100%;
  height: 100%;
}
.row {
  max-width: 1280px;
  padding: 0 30px;
  position: relative;
  overflow: hidden;
  margin: auto;
}
.header-logo {
  padding: 15px 0;
  text-align: center;
}
.header-top {
  border-bottom: 1px solid #e0001b;
  -moz-border-image: -moz-linear-gradient(right, #e0001b 0%, #4a0c26 100%);
  -webkit-border-image: -webkit-linear-gradient(right, #e0001b 0%, #4a0c26 100%);
  border-image: linear-gradient(to left, #e0001b 0%, #4a0c26 100%);
  border-image-slice: 1;
}
.header-social {
  position: absolute;
  top: 20px;
  left: 30px;
}
.header-social ul, .header-flag ul {
  overflow: hidden;
}
.header-social li {
  float: left;
  margin-right: 12px;
}
.header-flag li {
  float: left;
  margin-left: 15px;
}
.header-social a, .header-menusp .social a {
  background: no-repeat center;
  background-size: auto 20px;
  display: block;
  width: 24px;
  height: 24px;
  font-size: 0;
  opacity: .5;
}
.header-flag a, .header-menusp .lang a {
  font-size: 14px;
  line-height: 20px;
  padding-left: 24px;
  background: no-repeat 0 -2px;
  background-size: auto 20px;
  opacity: .7;
}
.header-social a:hover, .header-flag a:hover {
  opacity: 1;
}
.header-menusp .social {
  text-align: center;
}
.header-menusp .social li {
  display: inline-block;
  vertical-align: top;
  margin: 20px 5px;
}
.header-menusp .social a {
  background-size: auto 24px;
  width: 32px;
  height: 32px;
  opacity: .8;
}
.header-social .fb, .header-menusp .social .fb {
  background-image: url(shared/images/img_fb.png);
  margin-right: -4px;
}
.header-social .in, .header-menusp .social .in {
  background-image: url(shared/images/img_in.png);
}
.header-social .tw, .header-menusp .social .tw {
  background-image: url(shared/images/img_tw.png);
}
.header-social .ma, .header-menusp .social .ma {
  background-image: url(shared/images/img_ma.png);
}
.header-flag .vn, .header-menusp .lang .vn {
  background-image: url(shared/images/img_vie.png);
}
.header-flag .en, .header-menusp .lang .en {
  background-image: url(shared/images/img_eng.png);
}
.header-flag {
  position: absolute;
  top: 20px;
  right: 30px;
}
.header-menusp .lang a {
  opacity: 1;
}
.header-menusp .lang {
  text-align: center;
  border-bottom: 1px solid #fff;
  background: #ececec;
  padding: 10px 0;
}
.header-menusp .lang li {
  display: inline-block;
  vertical-align: top;
  margin: 0 10px;
}
.header-search {
  position: absolute;
  bottom: 20px;
  right: 30px;
}
.header-search .search-field, .header-menusp .search .search-field {
  font-size: 14px;
  color: #918d8d;
  line-height: 30px;
  padding: 0 12px;
  width: 180px;
  border: none;
  border-bottom: 1px solid #000;
  outline: none;
  font-style: italic;
}
.header-menusp .search .search-field {
  background: #f4f5ef;
  padding: 7px 55px 7px 20px;
  width: 100%;
  border: none;
}
.header-search .search-submit, .header-menusp .search .search-submit {
  width: 26px;
  height: 27px;
  font-size: 0;
  background: url(shared/images/img_search.png);
  border: none;
  cursor: pointer;
  outline: none;
}
.header-menusp .search .search-submit {
  position: absolute;
  top: 6px;
  right: 20px;
}
.header-search .search-submit:hover {
  background-position: right top;
  -webkit-transition: none;
  transition: none;
}
.header-search label {
  float: left;
  margin-right: 5px;
}
.header-navigation .main-navigation {
  font-family: 'Roboto Condensed Regular', sans-serif;
  font-weight: bold;
  letter-spacing: .5px;
  text-align: center;
}
.header-navigation .main-navigation .primary-menu>li {
  display: inline-block;
  vertical-align: top;
  position: relative;
}
.header-navigation .main-navigation .primary-menu>li>a {
  color: #2b2626;
  padding: 0 18px;
  display: block;
}
.header-navigation .main-navigation .primary-menu a:hover {
  color: #bb001b;
}
@media (min-width: 769px) {
  .main-navigation .sub-menu {
    border-bottom: 1px solid #d1d1d1;
    display: block;
    left: auto;
    margin: 0;
    position: absolute;
    z-index: 99999;
    top: 48px;
    white-space: nowrap;
    text-align: left;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: normal;
    box-shadow: 0px 1px 15px -3px rgba(0, 0, 0, 0.2);
    opacity: 0;
    visibility: hidden;
    font-size: 17px;
  }
  .header-navigation .main-navigation .sub-menu.active {
    opacity: 1;
    visibility: visible;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
  }
  .header-navigation .main-navigation .sub-menu>li {
    background-color: #fff;
    border: 1px solid #d1d1d1;
    border-bottom-width: 0;
  }
  .header-navigation .main-navigation .sub-menu>li>a {
    color: #1a1a1a;
    display: block;
    outline-offset: -1px;
    padding: 0 20px;
    font-weight: bold;
    line-height: 40px;
  }
  .header-navigation .main-navigation .sub-menu:before, .header-navigation .main-navigation .sub-menu:after {
    border-style: solid;
    content: "";
    position: absolute;
  }
  .header-navigation .main-navigation .sub-menu:before {
    border-color: #d1d1d1 transparent;
    border-width: 0 10px 10px;
    left: 23px;
    top: -9px;
  }
  .header-navigation .main-navigation .sub-menu:after {
    border-color: #fff transparent;
    border-width: 0 8px 8px;
    left: 25px;
    top: -7px;
  }
  .header-navigation.active .main-navigation {
    text-align: left;
  }
  .header-navigation .main-navigation .primary-menu {
    padding: 10px 0;
    line-height: 40px;
  }
  .header-navigation {
    height: 60px;
  }
  .header-navigation .row {
    overflow: visible;
  }
  .header-navigation.active>.inr {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background: #fff;
    border-bottom: 1px solid #e0001b;
    -moz-border-image: -moz-linear-gradient(right, #e0001b 0%, #4a0c26 100%);
    -webkit-border-image: -webkit-linear-gradient(right, #e0001b 0%, #4a0c26 100%);
    border-image: linear-gradient(to left, #e0001b 0%, #4a0c26 100%);
    border-image-slice: 1;
    -webkit-animation: menutop .5s;
    animation: menutop .5s;
  }
  @-webkit-keyframes menutop {
    0% {
      top: -60px;
      opacity: 0;
    }
    100% {
      top: 0;
      opacity: 1;
    }
  }
  @keyframes menutop {
    0% {
      top: -60px;
      opacity: 0;
    }
    100% {
      top: 0;
      opacity: 1;
    }
  }
  .header-navigation .logo {
    display: none;
    margin-right: 30px;
    float: left;
  }
  .header-navigation .logo img {
    max-height: 60px;
  }
  .header-navigation.active .logo {
    display: block;
  }
}
.slider {
  overflow: hidden;
}
.slick-dots {
  text-align: center;
  margin-top: -30px;
  position: relative;
}
.slick-dots li {
  display: inline-block;
  vertical-align: top;
  width: 20px;
  height: 20px;
  margin: 0 3px;
}
.slick-dots button {
  font-size: 0;
  background: #E7E7E9;
  width: 12px;
  height: 12px;
  border: none;
  outline: none;
  display: inline-block;
  vertical-align: top;
  border-radius: 50%;
  cursor: pointer;
}
.slick-dots .slick-active button, .slick-dots button:hover {
  background: #B71522;
}
[class*="sec0"] {
  padding: 50px 0;
  background: no-repeat center;
}
[class*="col0"] {
  overflow: hidden;
  position: relative;
}
[class*="col0"]>* {
  float: left;
  width: 50%;
}
.col03 {
  margin: 0 -3px;
}
.col03>* {
  padding: 0 3px;
  width: 33.33%;
}
.col02 {
  margin: 0 -15px;
}
.col02>* {
  width: 50%;
  padding: 0 15px;
}
.col02.tp01 {
  margin: 0 -30px;
}
.col02.tp01>* {
  width: 50%;
  padding: 0 30px;
}
.col02.tp02 {
  margin: 0 -30px;
}
.col02.tp02>* {
  width: 55%;
  padding: 0 30px;
}
.col02.tp02>:first-child {
  width: 45%;
}
.col02.tp03 {
  margin: 0 -2px;
}
.col02.tp03>* {
  width: 30%;
  padding: 0 2px;
}
.col02.tp03>:first-child {
  width: 70%;
}
.col02.tp04 {
  margin: 0 -30px;
}
.col02.tp04>* {
  width: 55%;
  padding: 0 30px;
}
.col02.tp04>:first-child {
  width: 45%;
}
.box-catalog {
  background: #d6d6d3;
  padding: 30px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}
.box-catalog:hover {
  background: #f9f9f6;
}
.box-catalog ul {
  max-width: 70%;
  margin: auto;
  font-family: 'Roboto Condensed', sans-serif;
  letter-spacing: .5px;
  line-height: 28px;
  font-size: 19px;
  margin-top: 10px;
}
.box-catalog a {
  color: #960017;
  padding-left: 25px;
  background: url(shared/images/icon_list01.png) no-repeat left center;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}
.box-catalog a:hover {
  margin-left: 6px;
}
.sec02 {
  background-image: url(shared/images/img_sec02_01.jpg);
}
.box-videos {
  color: #fff;
  max-width: 550px;
  margin: 40px auto;
  padding: 60px 30px;
  position: relative;
  text-align: center;
  line-height: 26px;
  background: -moz-linear-gradient(left, rgba(45, 5, 6, 0.9) 0%, rgba(223, 0, 27, 0.9) 100%);
  background: -webkit-linear-gradient(left, rgba(45, 5, 6, 0.9) 0%, rgba(223, 0, 27, 0.9) 100%);
  background: linear-gradient(to right, rgba(45, 5, 6, 0.9) 0%, rgba(223, 0, 27, 0.9) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e62d0506', endColorstr='#e6df001b', GradientType=1);
}
.box-videos .ttl, .box-maps .ttl {
  font-size: 42px;
  line-height: 54px;
  font-family: 'Roboto Condensed', sans-serif;
  margin-bottom: 12px;
}
.box-btn {
  display: inline-block;
  vertical-align: top;
  margin-top: 20px;
  font-size: 16px;
  position: relative;
  overflow: hidden;
}
.box-btn span {
  border: 1px solid #fff;
  padding: 3px 12px;
  color: #fff;
  display: block;
  position: relative;
  z-index: 2;
}
.box-btn:hover span {
  color: #000;
}
.box-btn:before {
  content: '';
  width: 100%;
  height: 100%;
  background: #fff;
  position: absolute;
  top: 0;
  left: -100%;
  z-index: 1;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}
.box-btn:hover:before {
  left: 0;
}
.box-btn.tp01 {
  border: 1px solid #940f28;
}
.box-btn.tp01 span {
  color: #b40000;
  font-weight: bold;
}
.box-btn.tp01:hover span {
  color: #fff;
}
.box-btn.tp01:before {
  background: -moz-linear-gradient(left, rgba(45, 5, 6, 0.9) 0%, rgba(223, 0, 27, 0.9) 100%);
  background: -webkit-linear-gradient(left, rgba(45, 5, 6, 0.9) 0%, rgba(223, 0, 27, 0.9) 100%);
  background: linear-gradient(to right, rgba(45, 5, 6, 0.9) 0%, rgba(223, 0, 27, 0.9) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e62d0506', endColorstr='#e6df001b', GradientType=1);
}
.sec03 .ttl {
  font-size: 30px;
  line-height: 44px;
  font-family: 'Roboto Condensed', sans-serif;
  margin: 15px 0;
}
.sec03 .ttl a {
  color: #1a171b;
  padding-right: 27px;
  background: url(shared/images/icon_list01.png) no-repeat right 21px;
}
.sec03 .ttl a:hover {
  color: #bb001b;
}
.box-customer {
  overflow: hidden;
}
.box-customer .inr {
  background: #f3f3ee;
  padding: 15px 30px;
  font-size: 14px;
  line-height: 20px;
}
.box-customer .img {
  background: #fff;
  text-align: center;
  padding: 10px 0;
  overflow: hidden;
}
.box-customer img {
  max-height: 110px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}
.box-customer .img:hover img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.box-customer li {
  margin: 15px 0;
}
.box-customer p {
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  margin-top: 3px;
}
.box-customer .date {
  border-left: 6px solid #8b0727;
  color: #a20529;
  padding: 5px 8px 2px;
  margin-bottom: 5px;
}
.box-news ul li+li {
  margin-top: 10px;
}
.box-news ul a {
  display: block;
  position: relative;
  background: #f3f3ee;
  padding: 15px;
  min-height: 126px;
  border-left: 6px solid #8b0727;
}
.box-news ul a:hover {
  box-shadow: 0px 1px 10px -3px rgba(0, 0, 0, 0.4);
}
.box-news .img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 182px;
  background: no-repeat center;
  background-size: auto 100%;
}
.box-news .inr {
  padding-left: 182px;
  font-size: 14px;
  line-height: 20px;
}
.box-news .news-ttl {
  font-size: 20px;
  font-family: 'Roboto Condensed', sans-serif;
  color: #a20529;
  line-height: 24px;
  font-weight: bold;
  margin-bottom: 5px;
}
.sec04 {
  background-image: url(shared/images/img_sec04_01.jpg);
  background-size: cover;
  background-attachment: fixed;
  padding: 0;
}
.sec04 .inr {
  background-color: rgba(255, 255, 255, 0.6);
  padding: 60px 0;
}
.box-info .ttl {
  text-align: right;
  background-image: -moz-gradient( linear, left top, right top, color-stop(0, #4a0c26), color-stop(1, #e0001b));
  background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #4a0c26), color-stop(1, #e0001b));
  background-image: gradient( linear, left top, right top, color-stop(0, #4a0c26), color-stop(1, #e0001b));
  color: transparent;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  background-clip: text;
  font-size: 34px;
  line-height: 42px;
  font-weight: bold;
  font-family: 'Roboto Condensed Regular', sans-serif;
}
.box-info {
  max-width: 1100px;
  margin: auto;
}
.box-info .desc {
  margin-top: 12px;
}
.box-maps {
  height: 450px;
  position: relative;
}
.box-maps .info {
  text-align: center;
  background: -moz-linear-gradient(left, rgba(45, 5, 6, 0.9) 0%, rgba(223, 0, 27, 0.9) 100%);
  background: -webkit-linear-gradient(left, rgba(45, 5, 6, 0.9) 0%, rgba(223, 0, 27, 0.9) 100%);
  background: linear-gradient(to right, rgba(45, 5, 6, 0.9) 0%, rgba(223, 0, 27, 0.9) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e62d0506', endColorstr='#e6df001b', GradientType=1);
  text-align: center;
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  width: 38%;
  height: 100%;
  padding: 60px 30px;
}
.box-maps .ttl {
  margin-bottom: 30px;
}
.box-maps .ttl span {
  padding-right: 28px;
  background: url(shared/images/icon_list02.png) no-repeat right 28px;
}
.box-maps .box-btn {
  margin-top: 30px;
}
.sec06 {
  background-image: url(shared/images/img_sec06_01.jpg);
}
.box-download {
  max-width: 550px;
  margin: 45px auto;
  position: relative;
  text-align: center;
  background: -moz-linear-gradient(left, rgba(45, 5, 6, 0.9) 0%, rgba(223, 0, 27, 0.9) 100%);
  background: -webkit-linear-gradient(left, rgba(45, 5, 6, 0.9) 0%, rgba(223, 0, 27, 0.9) 100%);
  background: linear-gradient(to right, rgba(45, 5, 6, 0.9) 0%, rgba(223, 0, 27, 0.9) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e62d0506', endColorstr='#e6df001b', GradientType=1);
}
.box-download a {
  display: block;
  color: #fff;
  height: 190px;
  position: relative;
  font-size: 40px;
  line-height: 56px;
}
.box-download a:after {
  content: '';
  width: 189px;
  height: 261px;
  background: url(shared/images/img_document.png);
  background-size: 100%;
  position: absolute;
  top: -37px;
  right: -100px;
}
.box-download span {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  padding-left: 64px;
  background: url(shared/images/icon_download.png) no-repeat 0 0;
}
.footer {
  padding-top: 50px;
}
.footer .link {
  background: #f3f3f0;
  padding: 44px;
  position: relative;
}
.footer .link .ttl {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  margin-bottom: 20px;
}
.footer .link ul li {
  margin: 5px 0;
}
.footer .link ul a {
  font-weight: bold;
  color: #960017;
  padding-left: 26px;
  background: url(shared/images/icon_list01.png) no-repeat 0 center;
}
.footer .link ul a:hover {
  opacity: .7;
}
.footer .link .desc {
  border-top: 1px solid #8b0727;
  margin-top: 15px;
  padding-top: 15px;
  opacity: .9;
  font-size: 16px;
}
.footer .info {
  padding: 44px;
  background: #edede6;
  font-size: 14px;
  line-height: 20px;
}
.footer .info .ttl, .header-menusp .info .ttl {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 24px;
  margin: 15px 0;
}
.footer .info .tel, .header-menusp .info .tel {
  margin-top: 20px
}
.footer .info .tel a, .header-menusp .info .tel a {
  color: #e1001a;
}
.footer .info .tel a:hover {
  color: #333;
}
.footer .copyright {
  text-align: center;
  font-size: 14px;
  line-height: 20px;
  padding: 30px 0;
}
.footer .copyright small {
  font-size: 12px;
  line-height: 18px;
  margin-top: 8px;
  display: block;
}
@media (max-width: 1200px) {
  .footer .link ul a {
    font-size: 16px;
  }
}
@media (min-width: 769px) {
  .sp {
    display: none;
  }
}
@media (max-width: 768px) {
  body {
    font-size: 16px;
    line-height: 22px;
    color: #333;
  }
  .pc {
    display: none;
  }
  .row {
    padding: 0 20px;
  }
  .header-logo {
    padding: 12px 0;
    text-align: left;
  }
  .header-logo img {
    max-height: 80px;
  }
  .header-btn {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 30px;
    right: 20px;
    background: url(shared/images/icon_menu.png);
    background-size: 100%;
  }
  .header-menusp {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
  }
  .header-menusp.active {
    opacity: 1;
    visibility: visible;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
  }
  .header-menusp .hld {
    float: right;
    width: 60%;
    background: #fff;
    height: 100%;
    -webkit-box-shadow: -4px 0 20px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: -4px 0 20px rgba(0, 0, 0, 0.6);
    box-shadow: -4px 0 20px rgba(0, 0, 0, 0.6);
    overflow-y: auto;
    position: relative;
    left: 100%;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
  }
  .header-menusp.active .hld {
    left: 0;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
  }
  .header-menusp .search {
    background: #f4f5ef;
    border-bottom: 1px solid #e0e0e0;
    position: relative;
  }
  .header-menusp .primary-menu {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    padding: 10px 0;
  }
  .header-menusp .primary-menu a {
    font-size: 120%;
    padding: 7px 20px;
    display: block;
  }
  .header-menusp .primary-menu .sub-menu a {
    padding-left: 35px;
    font-size: 100%;
  }
  .header-menusp .info {
    background: #edece7;
    text-align: center;
    font-weight: bold;
    padding: 30px 20px;
  }
  .header-btn-close {
    width: 45px;
    height: 45px;
    background: url(shared/images/icon_close.png) no-repeat center;
    background-size: 24px;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1001;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
  }
  .header-menusp.active .header-btn-close {
    right: 61%;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
  }
  [class*="sec0"] {
    padding: 30px 0;
  }
  [class*="col0"] {
    overflow: visible;
    margin: 0 !important;
  }
  [class*="col0"]>* {
    float: none;
    width: auto !important;
    padding: 0 !important;
    margin: 20px 0 !important;
  }
  .slider {
    border-bottom: 1px solid #e0001b;
    -moz-border-image: -moz-linear-gradient(right, #e0001b 0%, #4a0c26 100%);
    -webkit-border-image: -webkit-linear-gradient(right, #e0001b 0%, #4a0c26 100%);
    border-image: linear-gradient(to left, #e0001b 0%, #4a0c26 100%);
    border-image-slice: 1;
  }
  .slider .slick-slide {
    padding-bottom: 12%;
  }
  .slider .slick-slide img {
    position: absolute;
    left: -9999px;
    right: -9999px;
    margin: auto;
    top: 0;
    height: 100%;
    max-width: none;
  }
  .box-catalog img {
    display: block;
    margin: auto;
  }
  .box-catalog ul {
    max-width: 60%;
  }
  .box-customer img {
    max-height: none;
    max-width: 70%;
  }
  .box-news {
    margin-top: 50px;
  }
  .box-news ul li+li {
    margin-top: 20px;
  }
  .box-info .ttl {
    text-align: center;
    font-size: 32px;
    line-height: 42px;
  }
  .box-info .desc {
    margin: 12px auto 0;
    max-width: 90%;
  }
  .box-maps .info {
    position: static;
    width: auto;
    height: 100%;
    padding: 45px 30px;
  }
  .box-maps {
    height: auto;
  }
  .box-maps iframe {
    height: 400px;
  }
  .box-download {
    max-width: 450px;
  }
  .box-download a {
    height: 140px;
    font-size: 30px;
  }
  .box-download a:after {
    width: 160px;
    height: 222px;
    background-size: 100%;
    top: -44px;
    right: -72px;
  }
  .footer {
    padding-top: 40px;
  }
  .footer .col02 {
    margin: 0 -20px !important;
  }
  .footer .col02.tp03>* {
    margin: 0 !important;
  }
  .footer .col03>* {
    padding: 15px 0 !important;
    margin: 0 !important;
  }
  .footer .col03>*+* {
    border-top: 1px dashed #bbb;
  }
  .footer .info {
    border-top: 1px solid #fff;
    text-align: center;
    padding: 30px;
    font-size: 16px;
    line-height: 22px;
  }
}
@media (max-width: 639px) {
  body {
    font-size: 14px;
    line-height: 20px;
  }
  .row {
    padding: 0 15px;
  }
  .header-logo img {
    max-height: 72px;
  }
  .header-btn {
    top: 27px;
  }
  .header-menusp .hld {
    width: 76%;
  }
  .header-menusp.active .header-btn-close {
    right: 77%;
  }
  .slider .slick-slide {
    padding-bottom: 16%;
  }
  [class*="sec0"] {
    padding: 20px 0;
  }
  .sec03 .ttl {
    font-size: 28px;
    line-height: 36px;
    margin: 10px 0 15px;
  }
  .box-customer .inr {
    padding: 10px 20px;
  }
  .box-news .img {
    position: static;
    width: auto;
    background-size: cover;
    padding-bottom: 55%;
    display: block;
  }
  .box-news .inr {
    padding-left: 0;
    margin-top: 15px;
  }
  .box-news ul a {
    border-left-width: 4px;
  }
  .box-info .ttl {
    font-size: 30px;
    line-height: 36px;
  }
  .sec04 {
    padding: 0;
  }
  .sec04 .inr {
    padding: 30px 0;
  }
  .box-info .desc {
    max-width: 100%;
    font-size: 120%;
    line-height: 22px;
  }
  .box-download a {
    height: 120px;
    font-size: 24px;
  }
  .box-download span {
    padding-left: 46px;
    background-position: 0 8px;
    background-size: 34px;
    padding-right: 66px;
    white-space: nowrap;
  }
  .box-download a:after {
    width: 110px;
    height: 152px;
    top: -18px;
    right: -10px;
  }
  .footer .link {
    padding: 30px;
  }
  .footer .link .ttl {
    margin-bottom: 10px;
  }
  .box-videos .ttl, .box-maps .ttl {
    font-size: 38px;
    line-height: 46px;
  }
  .box-videos {
    padding: 40px 30px;
  }
  .footer .info .ttl, .header-menusp .info .ttl {
    font-weight: bold;
  }
}
@media (max-width: 374px) {
  .box-catalog ul {
    max-width: 80%;
  }
  .box-videos {
    margin: 30px auto;
    padding: 40px 20px;
    line-height: 22px;
  }
  .box-customer .inr {
    padding: 10px 15px;
  }
  .box-videos .ttl, .box-maps .ttl {
    font-size: 34px;
    line-height: 40px;
  }
  .box-maps .ttl span {
    background-position: right 23px;
  }
  .box-maps .info {
    padding: 40px 20px;
  }
  .box-download span {
    padding-right: 82px;
  }
}
.main {
  padding: 15px 0 30px;
}
.sidebar {
  width: 320px;
  float: left;
  border-right: 1px solid #e7e7e7;
  padding: 35px 15px;
}
.content {
  float: right;
  width: calc(100% - 320px);
  padding-left: 35px;
}
.pro-side .ttl {
  font-size: 24px;
  line-height: 30px;
  border-bottom: 1px solid #b9b6ad;
  padding: 3px 0;
  font-family: 'Roboto Condensed', sans-serif;
  letter-spacing: .5px;
}
.pro-side .item+.item .ttl {
  margin-top: 15px;
}
.pro-side ul {
  padding: 10px 20px 5px;
  display: none;
}
.pro-side ul.active {
  display: block;
}
.pro-side li {
  margin: 10px 0;
}
.pro-side a {
  font-weight: bold;
  display: block;
  position: relative;
}
.pro-side .ttl a.active, .pro-side .ttl a:hover, .pro-side .ttl a:hover:after {
  color: #a8001b;
}
.pro-side .ttl a:after {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  position: absolute;
  content: '+';
  color: #a5a5a5;
  font-size: 32px;
  right: 0;
  top: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
}
.pro-side .ttl a.active:after {
  -webkit-transform: rotate(46deg);
  transform: rotate(46deg);
  color: #a8001b;
}
.entry-title, .page-title {
  font-size: 60px;
  line-height: 70px;
  font-weight: bold;
  background-image: -moz-gradient( linear, left top, right top, color-stop(0, #4a0c26), color-stop(1, #e0001b));
  background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #4a0c26), color-stop(1, #e0001b));
  background-image: gradient( linear, left top, right top, color-stop(0, #4a0c26), color-stop(1, #e0001b));
  color: transparent;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  background-clip: text;
}
.bread ul {
  font-size: 0;
  margin-top: 5px;
}
.bread li {
  display: inline-block;
  vertical-align: top;
  font-size: 17px;
  line-height: 24px;
  margin-right: 3px;
}
.bread li+li:before {
  content: '/';
  margin-right: 3px;
}
.pro-list {
  margin-top: 30px;
}
.pro-list ul {
  margin: 0 -10px;
}
.pro-list ul:after {
  content: '';
  display: table;
  clear: both;
}
.pro-list li {
  float: left;
  width: 33.33%;
  padding: 0 10px;
  margin: 20px 0;
}
.pro-list a {
  border: 1px solid #f5f5f5;
  display: block;
  padding: 20px;
  font-size: 14px;
  line-height: 18px;
}
.pro-list a:hover {
  -moz-box-shadow: 0 0 5px #e6e6e6;
  -webkit-box-shadow: 0 0 5px #e6e6e6;
  box-shadow: 0 0 5px #e6e6e6;
}
.pro-list .ttl {
  color: #a8001b;
  font-size: 20px;
  margin-bottom: 15px;
  text-transform: uppercase;
  font-weight: bold;
}
.pro-list .sttl {
  color: #959292;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 20px;
  padding-bottom: 6px;
}
.pro-list .img {
  display: block;
  text-align: center;
  overflow: hidden;
  margin-bottom: 5px;
}
.pro-list img {
  max-height: 90%;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}
.pro-list a:hover img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}
@media (max-width: 1200px) {
  .sidebar {
    width: 290px;
  }
  .content {
    width: calc(100% - 290px);
    padding-left: 30px;
  }
}
@media (max-width: 768px) {
  .pro-list a {
    padding: 15px;
  }
  .entry-title, .page-title {
    font-size: 54px;
    line-height: 56px;
  }
  .sidebar {
    width: auto;
    float: none;
    border: none;
    padding: 10px 0;
  }
  .content {
    width: auto;
    margin-top: 30px;
    padding: 0;
  }
  .entry-title, .page-title {
    font-size: 44px;
    line-height: 46px;
  }
  .pro-list {
    margin-top: 20px;
  }
  .pro-list li {
    float: left;
    width: 50%;
    margin: 15px 0;
  }
  .pro-filter {
    display: block;
    text-align: center;
    margin: 0 -30px;
    border-bottom: 1px solid #c1c1c1;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Roboto Condensed', sans-serif;
    letter-spacing: .5px;
    padding: 0 30px;
  }
  .pro-filter span {
    display: block;
    position: relative;
    padding: 10px 0 12px;
  }
  .pro-side {
    opacity: 0;
    visibility: hidden;
    height: 0;
    -webkit-transition: .1s all ease;
    transition: .1s all ease;
  }
  .pro-side.active {
    height: auto;
    opacity: 1;
    visibility: visible;
    -webkit-transition: .5s all ease;
    transition: .5s all ease;
    margin-top: 30px;
  }
  .pro-filter span:after {
    -webkit-transition: .5s all ease;
    transition: .5s all ease;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    content: '+';
    position: absolute;
    font-size: 30px;
    right: 0;
    top: 12px;
    font-family: 'Roboto', sans-serif;
  }
  .pro-filter.active span:after {
    -webkit-transform: rotate(46deg);
    transform: rotate(46deg);
  }
}
@media (max-width: 639px) {
  .pro-filter {
    margin: 0 -20px;
    font-size: 20px;
    padding: 0 20px;
    line-height: 24px;
  }
  .pro-filter span {
    display: block;
    position: relative;
    padding: 8px 0 10px;
  }
  .pro-filter span:after {
    font-size: 26px;
    top: 8px;
  }
  .pro-side .ttl {
    font-size: 22px;
    line-height: 28px;
  }
  .pro-side ul {
    font-size: 16px;
    line-height: 22px;
  }
  .entry-title, .page-title {
    font-size: 36px;
    line-height: 42px;
  }
  .pro-list ul {
    margin: 0 -5px;
  }
  .pro-list li {
    margin: 10px 0;
    padding: 0 5px;
  }
  .pro-list .ttl {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 10px;
  }
  .pro-list .sttl {
    font-size: 14px;
    line-height: 18px;
  }
  .bread li {
    font-size: 14px;
    line-height: 20px;
  }
  .main {
    padding: 15px 0;
  }
  .pro-list a {
    padding: 10px;
  }
}
.box-detail {
  padding: 40px 0 20px;
}
.box-detail-img {
  border: 1px solid #e7e7e7;
}
.box-detail-img img {
  margin: auto;
}
[class*="slider"] {
  display: none;
}
[class*="slider"].slick-initialized {
  display: block;
}
.box-detail-img .slick-arrow {
  width: 50px;
  height: 50px;
  font-size: 0;
  background: url(shared/images/icon_next.png);
  background-size: 100%;
  position: absolute;
  top: 45%;
  border: none;
  outline: none;
  cursor: pointer;
  z-index: 10;
}
.box-detail-img .slick-next {
  right: 0;
}
.box-detail-img .slick-prev {
  left: 0;
  background-image: url(shared/images/icon_prev.png);
}
.box-detail-img .slick-disabled {
  display: none !important;
}
.box-yt {
  height: 360px;
  margin-bottom: 30px;
}
.free-txt strong,
.free-txt b {
  font-weight: bold;
}
.free-txt i,
.free-txt em {
  font-style: italic;
}
.free-txt h2 {
  font-size: 24px;
  font-weight: bold;
  line-height: 30px;
}
.free-txt h3 {
  font-size: 22px;
  font-weight: bold;
  line-height: 28px;
}
.free-txt h4 {
  font-size: 20px;
  font-weight: bold;
  line-height: 26px;
}
.free-txt > * {
  margin: 15px 0;
}
.box-technical {
  max-width: 80%;
  margin: 40px auto 0;
}
.box-technical > div {
  overflow: hidden;
  line-height: 26px;
}
.box-technical > div + div {
  margin-top: 40px;
}
.box-technical h3 {
  float: left;
  width: 30%;
  margin-right: 60px;
  color: #b42239;
  font-size: 30px;
  line-height: 32px;
  text-align: right;
  font-weight: bold;
  font-family: 'Roboto Condensed', sans-serif;
}
.box-technical p {
  overflow: hidden;
  margin-top: 6px;
}
.box-technical > div > div {
  overflow: hidden;
  background: #e7e7e7;
  padding: 15px 20px;
}
.box-technical > div > div > a {
  margin: 3px 0;
  display: inline-block;
  vertical-align: top;
  padding-right: 24px;
  background: url(shared/images/icon_dl.png) no-repeat right center;
  background-size: 16px;
}